{% extends 'layout.html' %}
{% block content %}
<div class="mt-40 self-center text-center max-w-[700px]">
    <h1 class="text-3xl font-bold dark:text-white text-black">About</h1>
    <br>

    <br>
    <p class="text-black dark:text-white ">
Connect with us on GitHub and LinkedIn for the latest updates, collaboration opportunities, and more. We value your feedback and engagement. Visit our GitHub repository for technical discussions, code contributions, and issue reporting. Follow us on LinkedIn for company news, career opportunities, and professional networking. Stay connected with our vibrant community!</p>
</div>
<div class="flex lg:space-x-16 self-center mt-40 max-lg:flex-col max-lg:space-y-8">

<div class="w-[400px] bg-white border  border-black rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-4">

    <div class="flex flex-col items-center pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/static/images/rajat.jpg" alt="Bonnie image"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Rajat Jain</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Frontend developer</span>
        <div class="flex mt-4 md:mt-6">
            <a href="https://github.com/rain2108" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Github</a>
            <a href="https://www.linkedin.com/in/rajat-jain-482302263/" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">LinkedIn</a>
        </div>
    </div>
</div>

    <div class="w-[400px] bg-white border border-black rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-4">

    <div class="flex flex-col items-center pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/static/images/saurav.jpg" alt="Bonnie image"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Saurav dhait</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Backend developer</span>
        <div class="flex mt-4 md:mt-6">
            <a href="https://github.com/saurav-dhait" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Github</a>
            <a href="https://www.linkedin.com/in/saurav-dhait-623771292/" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">LinkedIn</a>
        </div>
    </div>
</div>

    <div class="w-[400px] bg-white border border-black rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-4">

    <div class="flex flex-col items-center pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/static/images/priyanshu.jfif" alt="Bonnie image"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Priyanshu Deshmukh</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Frontend developer</span>
        <div class="flex mt-4 md:mt-6">
            <a href="" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Github</a>
            <a href="https://www.linkedin.com/in/priyanshu-deshmukh-161145275/" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">LinkedIn</a>
        </div>
    </div>
</div>


</div>


{% endblock %}